openremote:
  auth:
    url: ${OPENREMOTE_AUTH_URL}
  api:
    baseurl: ${OPENREMOTE_API_BASEURL}
  client:
    id: ${OPENREMOTE_CLIENT_ID}
    secret: ${OPENREMOTE_CLIENT_SECRET}

spring:
  config:
    import: optional:file:.env[.properties]


resilience4j.circuitbreaker:
  instances:
    authService:
      failureRateThreshold: 50
      waitDurationInOpenState: 10s
      permittedNumberOfCallsInHalfOpenState: 3
      slidingWindowType: COUNT_BASED
      slidingWindowSize: 10

resilience4j.retry:
  instances:
    authService:
      maxAttempts: 3
      waitDuration: 1s
      retryExceptions:
        - org.springframework.web.client.ResourceAccessException
        - java.io.IOException
        - com.tworun.openremoteclientservice.exception.AuthException
        - feign.FeignException
      ignoreExceptions:
        - com.tworun.openremoteclientservice.exception.AccessTokenNotFoundException

resilience4j.ratelimiter:
  instances:
    assetCreationLimiter:
      limitForPeriod: 5
      limitRefreshPeriod: 1s
      timeoutDuration: 0s

    assetRetrievalLimiter:
      limitForPeriod: 10
      limitRefreshPeriod: 1s
      timeoutDuration: 0s

    assetUpdateLimiter:
      limitForPeriod: 5
      limitRefreshPeriod: 1s
      timeoutDuration: 0s

    assetDeleteLimiter:
      limitForPeriod: 2
      limitRefreshPeriod: 1s
      timeoutDuration: 0s

logging:
  level:
    io.github.resilience4j: DEBUG